<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="javascripts/chirpApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Chirp Register</title>
  </head>
  <body ng-app="chirpApp">
    <div id="main" class="container" ng-controller="autoController">
      <form class="form-auth" ng-submit="register()">
        <h2>Register</h2>
        <p class="text-warning">{{error_message}}</p>
        <input type="username" ng-model="user.username" placeholder="Username" class="form-control"> <br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control"> <br>
        <input type="submit" class="btn btn-primary" value="Register">
      </form>
    </div>
  </body>
</html>
